/* fuentes */
@font-face {
    font-family: "texgyreadventor-bold";
    src: url("../fonts/texgyreadventor-bold.otf") format("opentype");
}

@font-face {
    font-family: "texgyreadventor-bolditalic";
    src: url("../fonts/texgyreadventor-bolditalic.otf") format("opentype");
}

@font-face {
    font-family: "texgyreadventor-italic";
    src: url("../fonts/texgyreadventor-italic.otf") format("opentype");
}

@font-face {
    font-family: "texgyreadventor-regular";
    src: url("../fonts/texgyreadventor-regular.otf") format("opentype");
}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
@media (min-width: 992px) {
  #contendorCabeceraMenu{
    position: absolute;
    /*position: relative;*/
    z-index: 5;
    width: 100%;
  }
}

/* cabecera*/
#cabecera{
  background-color: transparent;
  color: #FFFFFF;
  height:50px;
  border-bottom-color: 1px solid #CCCCCC;
}

#cabecera #datosEmpresa{
  background-color: transparent;
  height: 30px;
  width: 500px;
  display: inline-block !important;
  margin-top: 10px;
  margin-left: 10px;
}
#cabecera #datosEmpresa #telefono{
  background-color: transparent;
  height: 30px;
  width: 200px;
  display: inline-block !important;
}


#cabecera #datosEmpresa #correo{
  background-color: transparent;
  height: 30px;
  width: 250px;
  display: inline-block !important;
}

#cabecera #redesSocialesSuperior{
  background-color: transparent;
  height: 30px;
  /*min-width: 100px;*/
  display: inline-block !important;
  margin-top: 10px;
}

#cabecera #redesSocialesSuperior #cadaRed{
  background-color: transparent;
  height: 20px;
  width: 20px;
  display: inline-block !important;
}

/* fin cabecera */

/*menu principal*/
#contenedorMenuPrincipal{
  background-color: transparent;
  height: 80px;
}

#listaSecciones{
  /*background-color: red;*/
  margin-left: 30px;
}

#menuPrincipal .nav>li>a{
  background-color: transparent !important;
  color: #FFFFFF;
  position: relative;
  top: 20px;
}

#menuPrincipal .nav>li>a:hover{
  background-color: transparent !important;
  color: #FFFFFF;
}

#contenedorMenuPrincipal #logoMenuPrincipal{
  position: relative;
  top: -10px;
}

#imagenBolsa{
  margin-top: -10px;
}


/*ocultar cabecera y cambio de color del menu*/
@media screen and (min-width: 768px) {
.affix {
      top: 0;
      width: 100%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background-color: #f4bfd9;
  }
  .affix #contenedorMenuPrincipal{
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background-color: #f4bfd9;
      height: 60px;
  }

  .affix #logoMenuPrincipal{
      position: relative;
      margin-top: 10px;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      height: 30px;
  }

  .affix #menuPrincipal .nav>li>a{
    position: relative;
      margin-top: -15px;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    background-color: #f4bfd9 !important;
    color: #FFFFFF;
  }

  .affix #menuPrincipal .nav>li>a:hover{
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    background-color: #f4bfd9 !important;
    color: #FFFFFF;
  }

  .affix #listaSecciones{
    /*background-color: red;*/
    margin-left: 170px;
  }
}
/*fin menu principal*/

@media screen and (max-width: 768px) {
  #affix-barra{
    width: 100%;
  }

  #contendorCabeceraMenu{
    /*position: relative !important;*/
    position: relative;
    z-index: 5;
  }
  #cabecera{
    background-color: #FFFFFF;
    color: #000000;
  }

  #contenedorMenuPrincipal{
    background-color: #f4bfd9;
  }

  #contenedorMenuPrincipal .navbar-toggle{
    background-color: #f4bfd9;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
  }

  .icon-bar{
    background-color: #FFFFFF;
  }

  #listaSecciones{
    /*background-color: red;*/
    margin-left: -20px;
  }

  #menuPrincipal li{
    background-color: #f4bfd9 !important;
    color: #f4bfd9;
    height: 50px;
  }

  #menuPrincipal .nav>li>a:hover{
    background-color: #f4bfd9 !important;
    color: #FFFFFF;
  }
  #menuPrincipal .nav>li>a{
    background-color: #f4bfd9 !important;
    color: #FFFFFF;
  }

}

/* footer */
footer{
  position: relative;
  background-color: #f4bfd9;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  top: 30px;
}

footer h4{
  font-family: "texgyreadventor-regular";
  color: #000000;
}

#contenedorFooter{
  padding-top: 30px;
}

footer ul{
  list-style: none;
  padding-left: 0px;
}

footer #redes ul li{
  display: inline-block;
}

footer #contenedorDatos ul li span{
  display: inline-block;
}

footer #contenedorDatos ul li p, footer #contenedorDatos ul li a{
  display: inline-block;
  font-family: "texgyreadventor-regular";
  color: #000000;
  text-decoration: none;
}

footer #contenedorDatos ul li:first-child p{
  /*color: red;*/
  /*margin-top: 50px;*/
}

footer #sitemap{
  text-align: center;
  margin-top: 10px;
}

footer #sitemap ul li a{
  font-family: "texgyreadventor-regular";
  color: #000000;
}

footer #sitemap ul li a:hover{
  text-decoration: none;
}

footer #sitemap img{
  display: initial;
  margin-bottom: 15px;
}

footer #redes{
  text-align: right;
}

footer #redes ul li a img{
  height: 25px;
}

@media (max-width: 768px) {
  footer{
    min-height: 300px;
    max-height: 700px;
  }

  footer #sitemap{
    text-align: left;
  }

  footer #redes{
    text-align: left;
  }
}

/*afip*/
#contenedorPdfAfip{
  text-align: center;
  background-color: #FFFFFF !important;
  height: 25px;
  position: relative;
  bottom: -55px;
}

#contenedorPdfAfip a{
  color: #777777;
  font-size: 12px;
  text-decoration: none;
}