#contenedorProducto{
	margin-top: 25px;
	margin-bottom: 25px;
}

#precioTachado{
    font-weight: 100;
    text-decoration: line-through;
}

/*galeria*/
#contenedorGaleriaProductoDetalle{
    margin-bottom: 25px;
}
#contenedorGaleriaProductoDetalle #contenedorImagenGrande{
    text-align: center;
    /*border: 1px solid #EEEEEE;*/
    /*background-color: red;*/
    min-height: 520px;
    max-height: 520px;
}

#contenedorGaleriaProductoDetalle #contenedorImagenGrande img{
    text-align: center;
    margin: 0 auto;
}

#contenedorGaleriaProductoDetalle #contenedorImagenChica{
    text-align: center;
    /*border: 1px solid #EEEEEE;*/
    margin-top: 25px;
}

.col-sm-2_personalizado{
    width: 20%;
}

@media (max-width: 768px) {
    #contenedorGaleriaProductoDetalle #contenedorImagenGrande{
        margin-top: 15px;
    }

    #contenedorGaleriaProductoDetalle #contenedorImagenChica{
     }

     .col-sm-2_personalizado{
        width: 33.33333%;
    }
}

 /*fin galeria*/
 #contenedorDetalles{
    /*background-color: blue;*/
    min-height: 480px;
 }

 #contenedorDetalles h1{
    font-family: 'texgyreadventor-regular';
    color: #000000;
    margin-top: 0px;
 }

  #contenedorDetalles h2{
    margin-top: 0px;  
    /*background-color: red;*/
  }

  #contenedorDetalles h2 #precioTachado{
    font-family: 'texgyreadventor-regular';
    color: #aaaaaa;
    font-size: 25px;
 }
 #contenedorDetalles hr{
    border-color: #f4bfd9;
 }

 #contenedorDetalles p{
    color: #999999;
    font-size: 16px;
    font-family: 'texgyreadventor-regular';
 }

 #cajaGuia, #cajaTalleColor{
    /*background-color: red;*/
    position: relative;
    bottom: -30px;
 }

 #cajaGuia img{
    max-height: 230px;
 }

 #contenedorDetalles h3{
    font-family: 'texgyreadventor-regular';
    color: #000000;
 }

 select{
    font-size: 15px;
    font-family: 'texgyreadventor-regular';
    color: #565656;
    font-style: italic;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 1px solid #f4bfd9;
}
input[type="number"]{
    border-radius: 35px;
    border: 1px solid #f4bfd9;
    height: 30px;
    width: 60px;
    text-align: center;
}

input[type="submit"]{
    border-radius: 5px;
    border: 1px solid #f4bfd9;
    height: 40px;
    width: 170px;
    text-align: center;
    background-color: #f4bfd9;
    color: #FFFFFF;
    margin-top: 20px;
}