/*slider*/
#cajaDeTexto{
	background-color: transparent;
	color: #000000;
	top: 35%;
	left: 60%;
	height: 150px;
	width: 400px;
}

#cajaDeTexto h3{
	color: #000000;
	font-size: 60px;
	font-family: 'texgyreadventor-regular';
}

@media screen and (max-width: 768px) {
	#cajaDeTexto{
		background-color: transparent;
		color: #000000;
		top: 20%;
		left: 65%;
		height: 150px;
		width: 100px;
	}

	#cajaDeTexto h3{
		color: #000000;
		font-size: 20px;
		font-family: 'texgyreadventor-regular';
	}
}

/*destacados*/
#contenedorDestacados{
	position: relative;
	height: 300px;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	/*z-index: -5;*/
	/*background-color: red;*/
	text-align: center;
}

#contenedorDestacados p{
	font-family: 'texgyreadventor-regular';
	font-size: 16px;
	margin-top: 10px;
}